{% if app.environment == 'prod' %}
    {% set min = '.min' %}
{% elseif app.environment == 'dev' %}
    {% set min = '' %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="description" content="{% block description %}{% endblock %}">
        <title>{% block title %}Time Tracker{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('favicon.ico')) }}" />
        <link href="{{ absolute_url(asset('/assets/dist/css/vendor/normalize.min.css')) }}" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('/assets/dist/css/styles.min.css')) }}">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ absolute_url(asset('/assets/dist/js/vendor/jquery.min.js')) }}"><\/script>')</script>
    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script>window.jQuery.fn.alert || document.write('<script src="{{ absolute_url(asset('/assets/dist/js/vendor/bootstrap.min.js')) }}"><\/script>')</script>

            <script src="{{ absolute_url(asset('/assets/dist/js/app.js'|format(min))) }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
